[submodule "livesite"]
	path = livesite
	url = git@github.com:the-code-robot/the-code-robot.github.io
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
